.uiwidget-shortcut-nav {
	float: left;
	height: 44px;
	padding-left: 76px;
}
.uiwidget-shortcut-nav ul {
	margin: 0;
	padding: 0;
}
.uiwidget-shortcut-nav li {
	float: left;
	width: 37px;
	text-align: center;
	padding-top: 1px;
	margin-top: 4px;
	margin-right: 5px;
	list-style-type: none;
}
.uiwidget-shortcut-nav li.uiwidget-shortcut-line {
	width: 2px;
	height: 32px;
	background: url(../images/bg-nav-line.gif) no-repeat;
}
.uiwidget-shortcut-fast-nav {
	padding: 0;width:100%;
}
/*导航菜单下拉*/
.uiwidget-shortcut-fast-nav-more {
	width: 120px; 
	position: absolute; 
	top: 100px; 
	z-index: 987654321000000;
	margin-left: 11px !important; 
	*margin-left: -23px !important; 
	margin-left: -23px;
	padding: 1px !important;
	*padding: 1px 3px 1px 1px !important;
	padding: 1px;
	background-color: #EBF7FB; 
	border: 1px solid #8DC7DC;
}
.uiwidget-shortcut-fast-nav-more-right {
	width: 120px; 
	position: absolute; 
	top: 100px; 
	z-index: 987654321000000;
	margin-left: -95px !important; 
	*margin-left: -123px !important; 
	margin-left: -123px;
	padding: 1px !important;
	*padding: 1px 3px 1px 1px !important;
	padding: 1px;
}
.uiwidget-shortcut-fast-nav-more ul {
	margin: 0;
	padding: 0;
}
.uiwidget-shortcut-fast-nav-more li {
	width: 100%;
	text-align: left;
	margin: 0;
	padding: 0;
	font-size: 12px;
}
.uiwidget-shortcut-fast-nav-more li a {
	width: 100%;
	display: block;
	text-decoration: none;
	color: #003c60;
	border: 1px solid #EBF7FB;
}
.uiwidget-shortcut-fast-nav-more li a:hover {
	text-decoration: none;
	color: #003c60;
	background-color: #ffefa7;
	border: 1px solid #ffc740;
}
.uiwidget-shortcut-fast-nav-more .add a {
	padding: 5px 0 5px 0;
	text-indent: 7px;
}
.uiwidget-shortcut-nav li img {
	height: 32px;
	margin: 1px 0;
}
.shortcut-menu-more {
	width: 32px;
	height: 32px;
	background: url(../images/img-navico-more.gif) no-repeat left top;
}
.shortcut-menu-setting {
	width: 16px;
	height: 16px;
	background: url(../images/btn-nav-add.gif) no-repeat left top;
	cursor: pointer;
}